import(stats)
import(Matrix)
import(ggplot2)
importFrom("graphics", "hist")

export(optweight, optweight.fit, check.tols, optweight.tune)

S3method(print, optweight)
S3method(print, optweightMSM)
S3method(print, optweight.tols)
S3method(plot, optweight)
S3method(summary, optweight)
S3method(summary, optweightMSM)
S3method(print, summary.optweight)
S3method(print, summary.optweightMSM)
S3method(plot, summary.optweight)
